{% extends 'core/base.html' %}
{% block content %}
<div class="card login-card shadow-sm">
    <div class="login-header">
        <h2>Iniciar Sesión</h2>
    </div>
    <div class="login-body">
        <form method="post" action="{% url 'login' %}" class="login-form">
            {% csrf_token %}
            
            {% for field in form %}
            <p>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <div class="errorlist">
                    {% for error in field.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </p>
            {% endfor %}
            
            <button type="submit" class="btn login-btn">
                <i class="fas fa-sign-in-alt"></i>
                Iniciar Sesión
            </button>
        </form>
        
       
    </div>
</div>
{% endblock %}